<center>
    <h3>RESET FORM</h3>
        <hr/>
        <form method="POST">
            <table>
                   
                <tr>
                    <td>Enter Your Email-Id </td>
                    <td><input type="text" value="{EMAIL}" name="email"/></td>  
                </tr>
                
                <tr>
                    <td>Enter new password </td>
                    <td><input type="password" name="new_password"/></td>  
                </tr>
                
                <tr>
                    <td>confirm password </td>
                    <td><input type="password" name="confirm_password"/></td>  
                </tr>
                
                 <tr>
                    <td><input type="submit" value="submit" name="submit"/></td>  
                </tr>
                 <tr>
                    <td><span style="color: red;">{ERROR_MESSAGE}</span></td>
                </tr>
                <tr>
                    <td><span style="color: red;">{RESET_MESSAGE}</span></td>
                </tr>
                <tr>
                    <td><span style="color: green;">{UPDATE_MESSAGE}</span></td>
                </tr>
                
            </table> 
        </form>
</center>
