<html>
<body>
<center><p>successfully registered</p>
<!--    <p>Student id :</p> {STUDENT_ID} 
    <p>First Name :</p> {FIRST_NAME} 
    <p>Last Name  :</p> {LAST_NAME} 
    <p>Email ID   :</p> {EMAIL} 
    <p>Address    :</p> {ADDRESS} -->
<p>Do you want to edit or delete your details.....Please choose your option</p>

<form method="POST">
<input type="submit" value="update" name="update"/>
<input type="submit" value="delete" name="delete"/>
<input type="submit" value="exit" name="exit"/>
</form></center>
</body>
</html>